@model IEnumerable<Homework_SkillTree.Models.ViewModels.CashRecordFormViewModel>

@{
    Layout = null;
    int count = 1;
}
@foreach (var item in Model)
{
    <tr>
        <td>@count</td>
        @Html.Partial("_ShowRecords", item.Category)
        <td>@Html.DisplayFor(m => m.ToList()[count - 1].Date)</td>
        <td>@item.Money</td>
    </tr>
    count++;
}
