@model string

@{
    Layout = null;

    string decorate = null;
    if (Model == "0")
    {
        decorate = "text-danger";
    }
    else if (Model == "1")
    {
        decorate = "text-info";
    }
}

<td class="@decorate">@Html.DisplayFor(m => m, "Category")</td>


