@model Homework_SkillTree.Models.ViewModels.CashFormListViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="well">
    @Html.Partial("_CashRecordForm")
</div>

<div id="ajaxPanel" class="row">
    @Html.Partial("_CashFormAjax", Model.CashRecords)
</div>

@section scripts{
    <script>
        $(function () {
            $('#CashRecordForm_Date').datetimepicker({
                format: 'Y-m-d',
                timepicker: false,
            });
        });
    </script>
}