@model Homework_SkillTree.Models.ViewModels.CashFormListViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="well">
    @Html.Partial("_CashRecordForm")
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            @Html.Partial("_ShowRecords")
        </table>
    </div>
</div>